<?xml version="1.0"?>
<config>
    <modules>
        <FlyWebservices_Pinit>
            <version>0.1.0</version>
        </FlyWebservices_Pinit>
    </modules>
    <global>
		<blocks>
			<pinit>
				<class>FlyWebservices_Pinit_Block</class>
			</pinit>
		</blocks>
        <resources>
            <pinit_setup>
                <setup>
                    <module>FlyWebservices_Pinit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pinit_setup>
            <pinit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pinit_write>
            <pinit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pinit_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <pinit>
                    <file>pinit.xml</file>
                </pinit>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <pinit>
                                            <title>Fly Webservices</title>
                                        </pinit>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>